::-webkit-scrollbar {
  width: 1ch;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); 
}
 
::-webkit-scrollbar-thumb {
  background: #AAA; 
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.monitor {
  margin: 0 auto;
}

.screen {
  background: black;
  transform: scaleY(1.35000135);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 84ch;
  max-width: 100vw;
  height: 74vh;
  @media screen and (max-width: $no-monitor) {
  }
}

.dosbox {
  position: relative;
  box-sizing: border-box;
  background: black; 
  width: 100%;
  
  flex: 1;
  
  margin: 1em 2ch;
    margin: 0;
    background: $blue;
    overflow: hidden;
    overflow-y: auto;
  
  @media screen and (max-width: $no-monitor) {
  }
}

.dos-border {
  position: absolute;
  height: 23em;
  background-color: $blue;
  color: silver;
  z-index: 1;
    display: none;
  @media screen and (max-width: $no-monitor) {
  }
}

.dos-content {
  color: white;
  background-color: $blue;
  z-index: 2;
  padding-right: 2ch;
  box-sizing: border-box;
  top: 1em;
  padding: 1em 2ch;
  a {
    text-decoration: underline;
  }
  h1::after {
    content: '----------';
    display: block;
  }
  h2, h3, h4, h5, h6, ul, ol, .highlighter-rouge, iframe {
    margin-bottom: 1em;
  }
  // scaling images and iframes (Youtube embeds) in opposite direction to counteract dosbox scaling. Gross. But the best solution I've got so far.
  img, iframe {
    max-width: 74%;
    transform: scaleX(1.35000135);
    transform-origin: top left;
  }
  img + em {
    display: block;
    text-align: center;
  }

  // img {
  //   max-width: 37%;
  // }
}

.dos-border-left {
  position: relative;
}

.dos-border-right {
  position: absolute;
  display: inline;
  right: 0px;
}

.site-footer {
  box-sizing: border-box;
  display: block;
  // position: fixed;
  // bottom: 0px;
  // left: 0px;
  width: 100%;
  // height: 1em;
}

.u-email {
  padding: 0 $spacing-unit / 2;
}

.home pre {
  width: 31ch;
  margin: 0 auto;
}