/**
 * Site header
 */
.site-header {
  background-color: $grey;
  padding: 0 1ch;
  @extend %clearfix;
  a{
    color: black;
  }
  a:hover{
    background-color: #000;
    color: $grey;
  }
}

.site-title {
  float: left;
  padding: 0 1ch;

  &,
  &:visited {
    color: #000;
  }
}

.site-nav {
  position: relative;
  top: 9px;
  right: $spacing-unit / 2;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    color: black;
    line-height: 0;
    text-align: center;
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    position: fixed;
    top: 15px;
    right: 1em;
    z-index: 5;
    background: #AAA;
  }

  .page-link {
    color: #000;
    line-height: $base-line-height;
    display: block;
    padding: 0.25em 10px;

    &:hover {
      color: $grey;
      background-color: #000;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0 1ch;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  background: $cyan;
  color: black;
  padding: 0 1ch;
  a {
    color: black;
  }
  a:hover{
    background-color: black;
    color: $cyan;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
}

.footer-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/**
 * Page content
 */
.page-content {
  flex: 1 0 auto;
  p {
    padding: 0 0 1em 0;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
}

/**
 * Posts
 */
.post-title,
.post-content h1 {
  line-height: 1;
  margin-bottom: $spacing-unit;
}

.post-content {
  margin-bottom: $spacing-unit;
}


.social-media-list {
  display: table;
  margin: 0;
  li {
    float: left;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 0 $spacing-unit / 2;
    }
    &:hover .svg-icon { fill: currentColor; }
  }
}