---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains page.category -%}
        {%- if post.hide -%}
          {% continue %}
        {%- endif -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %Y" -%}
        
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          
          {%- if post.details -%}
            <span class="post-meta">
            ({{ post.details }})
            </span>
          {%- endif -%}
          <span class="post-meta"> {{ post.date | date: date_format }}</span>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>

</article>
