<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="monitor">
      <div class="screen">
        {%- include header.html -%}
        <div class="dosbox">
          <main class="page-content dos-content" aria-label="Content">
              {{ content }}
          </main>
          <div class="dos-border">
          </div>
        </div>
        
      </div>
    </div>
    <script>
      String.prototype.replaceAll = function(str1, str2, ignore) 
      {
          return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
      }

      // replace smart apostrophes, interpuncts, etc
      var punctuation = {
        'ö': 'o',
        '•': String.fromCharCode(0x07),
        '’': "'",
        '‘': "'",
        '”': '"',
        '“': '"',
        '…': '...',
        '–': '-',
        '—': '-'
      };
      var bodyHTML = document.body.innerHTML;
      Object.keys(punctuation).forEach(function(key){
        bodyHTML = bodyHTML.replaceAll(key, punctuation[key]);
      });
      document.body.innerHTML = bodyHTML;
    </script>
    <script src="assets/nibbles.js"></script>
  </body>
</html>
