<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="monitor">
      <div class="screen">
        {%- include header.html -%}
        <div class="dosbox">
          <main class="page-content dos-content" aria-label="Content">
              {{ content }}
          </main>
          <div class="dos-border">
          </div>
        </div>
        {%- include footer.html -%}
      </div>
    </div>
    <script>
      // draw border
      var width = 80, height = 23;
      var borderTop = String.fromCharCode(0xC9);
      let borderBottom = String.fromCharCode(0xC8);
      for (var i = 0; i < width - 2; i++){
        borderTop += String.fromCharCode(0xCD);
        borderBottom += String.fromCharCode(0xCD);
      }
      borderTop += String.fromCharCode(0xBB) + '\n';
      borderBottom += String.fromCharCode(0xBC) + '\n';
      var borderTopNode = document.createTextNode(borderTop);
      var borderBottomNode = document.createTextNode(borderBottom);
      var borderDiv = document.querySelector('.dos-border');
      borderDiv.appendChild(borderTopNode);
      for (var i = 0; i < height - 2; i++) {
        let borderLeft = document.createElement('div');
        let borderRight = document.createElement('div');
        let borderChar = String.fromCharCode(0xBA);
        borderRight.classList.add("dos-border-right");
        borderLeft.appendChild(document.createTextNode(borderChar));
        borderRight.innerText = String.fromCharCode(0xBA);
        borderLeft.appendChild(borderRight);
        borderDiv.appendChild(borderLeft);
      }
      borderDiv.appendChild(borderBottomNode);

      String.prototype.replaceAll = function(str1, str2, ignore) 
      {
          return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
      }

      // replace smart apostrophes, interpuncts, etc
      var punctuation = {
        '•': String.fromCharCode(0x07),
        '’': "'",
        '‘': "'",
        '”': '"',
        '“': '"',
        '…': '...',
        '–': '-',
        '—': '-'
      };
      var bodyHTML = document.body.innerHTML;
      Object.keys(punctuation).forEach(function(key){
        bodyHTML = bodyHTML.replaceAll(key, punctuation[key]);
      });
      document.body.innerHTML = bodyHTML;
    </script>
  </body>
</html>
